.body {
    background-color: #eef6ff;
    color: #293c4c;
    margin: 0;
    padding: 0;
}

.h1_center {
    text-align: center;
    font-family: Arial, sans-serif;
}

.h2_center {
    text-align: center;
    font-family: Arial, sans-serif;
}

