<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Login Screen</title>
</head>

<body class="body">
    <div>
        <a href="../../index.php">
            <img src="/public/images/logo.jpg" alt="logo image">
        </a>
    </div>
    <button onclick="location.href ='../../index.php'">back</button>
    <h1 class = "h1_center">Login Page</h1>
    <button onclick="location.href='../admin/admin_panel.php'">Admin</button>
    <button onclick="location.href='../voulnteer/volunteer_panel.php'">Volunteer</button>
</body>
</html> -->