<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Volunteer Screen</title>
</head>

<body class="body">
    <div>
        <a href="../../index.php">
            <img src="/public/images/logo.jpg" alt="logo image">    
        </a>    
        <button onclick="location.href='../../index.php'">Log out</button>
    </div>
    <h1 class = "h1_center">Volunteer Page</h1>
    <h2 class = "h2_center">view events here</h2>
    <button onclick="location.href='view_atten.html'">view my atten</button>
</body>

</html>